{% extends 'Admin/base.html.twig' %}

{% block content %}
    <div class="table-responsive">
        <h3 class="m-3">La Carte</h3>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">nom</th>
                <th scope="col">prenom</th>
                <th scope="col">mail</th>
                <th scope="col">role</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <th scope="row">{{ user.id }}</th>
                    <td>{{ user.name }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.email }}</td>
                    {% if user.roles[0] == "ROLE_ADMIN" %}
                    <td>Admin</td>
                    {% endif %}
                    {% if user.roles[0] == "ROLE_USER" %}
                    <td>utilisateur</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}